*
!/.dockerignore

# Need these for Whales project:
!/whales.env
!/whales_setup

################################################################################################################################
# MAIN FOLDER
################################################################################################################################
!/README.md
!/ISSUES.md
!/LICENSE

!/.lib.sh
!/build.sh
!/clean.sh
!/test.sh

################################################################################################################################
# PROJECT FILES
################################################################################################################################
# !/src
# !/test
# !/dist
# !/dist/VERSION

################################################################################################################################
# AUXLIARY
################################################################################################################################
!/logs

################################################################################################################################
# ARTEFACTS
################################################################################################################################
#
