*
!/.dockerignore

## WHALES SETUP (Docker)
!/whales_setup

################################################################################################################################
# MAIN FOLDER
################################################################################################################################
!/README.md
!/ISSUES.md
!/LICENSE

!/.lib.sh
!/build.sh
!/clean.sh
!/hello.sh
!/test.sh

################################################################################################################################
# PROJECT FILES
################################################################################################################################
!/src

!/test

!/dist
!/dist/VERSION

################################################################################################################################
# AUXLIARY
################################################################################################################################
!/logs

################################################################################################################################
# ARTEFACTS
################################################################################################################################
#
