*

################################################################################################################################
# MAIN FOLDER
################################################################################################################################
!/README.md

!/.logging.sh
!/.lib.sh
!/build.sh
!/clean.sh
!/hello.sh
!/test.sh

!/config.yml

## DOCKER
!/.env
!/DOCKER_DEPTH
!/.docker-entry.sh

################################################################################################################################
# PROJECT FILES
################################################################################################################################
!/src
!/src/*.txt

!/test

!/dist

!/data

################################################################################################################################
# AUXLIARY
################################################################################################################################

!/logs

################################################################################################################################
# ARTEFACTS
################################################################################################################################
**/__pycache__

################################################################################################################################
# Git Keep
################################################################################################################################
!/**/.gitkeep
