*
!/.gitignore
!/.dockerignore

## WHALES SETUP (Docker)
!/whales_setup

################################################################################################################################
# MAIN FOLDER
################################################################################################################################
!/README.md
!/ISSUES.md
!/LICENSE

!/.logging.sh
!/.lib.sh
!/build.sh
!/clean.sh
!/hello.sh
!/test.sh

!/config.yml
!/config-test.yml

################################################################################################################################
# PROJECT FILES
################################################################################################################################
!/src

!/test

!/dist
!/dist/VERSION

!/docs
!/docs/*.txt

!/data

################################################################################################################################
# AUXLIARY
################################################################################################################################

!/logs

################################################################################################################################
# ARTEFACTS
################################################################################################################################
**/__pycache__

################################################################################################################################
# Git Keep
################################################################################################################################
!/**/.gitkeep
