*
!/.gitignore

################################################################
# MISCELLANEOUS
################################################################

!/README.md
!/LICENSE

################################################################
# INSTALLATION
################################################################

!/install
!/install/.gitignore
!/install/.dockerignore
!/install/README.md
!/install/Dockerfile
!/install/importwhales

################################################################
# SOURCE CODE
################################################################

!/dist
!/dist/VERSION
!/golang
!/src

################################################################
# TEMPLATES AND EXAMPLES
################################################################

!/examples
!/templates
