*
!/.gitignore

################################################################################################################################
# MAIN FOLDER
################################################################################################################################
!/README.md
!/ISSUES.md

!/.logging.sh
!/.lib.sh
!/build.sh
!/clean.sh
!/hello.sh
!/test.sh

!/config.yml
!/config-test.yml

## DOCKER
!/.env
!/.dockerignore
!/.docker.sh
!/.docker-entry.sh
!/Dockerfile
!/docker-compose.yml

################################################################################################################################
# PROJECT FILES
################################################################################################################################
!/src

!/test

!/dist
!/dist/VERSION

!/docs
!/docs/*.txt

!/data

################################################################################################################################
# AUXLIARY
################################################################################################################################

!/logs

################################################################################################################################
# ARTEFACTS
################################################################################################################################
**/__pycache__

################################################################################################################################
# Git Keep
################################################################################################################################
!/**/.gitkeep
