*
!/.dockerignore

################################################################################################################################
# WHALES SETUP
################################################################################################################################
!/docker.env
!/.env
!/DOCKER_DEPTH
!/VERSION

!/.lib.globals.sh
!/.lib.utils.sh
!/.lib.whales.sh
!/.lib.sh
!/docker-entry.sh
!/docker.sh
