*
!/.gitignore
!/.dockerignore

################################################################################################################################
# WHALES SETUP
################################################################################################################################
!/.env

!/.lib.logging.sh
!/.lib.utils.sh
!/.lib.sh
!/.lib.whales.sh
!/docker-entry.sh
!/docker.sh
