*
!/.dockerignore

################################################################################################################################
# WHALES SETUP
################################################################################################################################
!/.env
!/.logging.sh
!/.lib.whales.sh
!/.lib.sh
!/.docker-entry.sh
!/.docker.sh
