*
!/.gitignore
!/.dockerignore

################################################################################################################################
# WHALES SETUP
################################################################################################################################
!/.env
!/docker-compose.yml
!/Dockerfile
!/.lib.logging.sh
!/.lib.utils.sh
!/.lib.whales.sh
!/docker-entry.sh
!/docker.sh
