*
!/.gitignore
!/.dockerignore

################################################################################################################################
# WHALES SETUP
################################################################################################################################
!/.env
!/.lib.logging.sh
!/.lib.utils.sh
!/.lib.whales.sh
!/.lib.sh
!/docker-entry.sh
!/docker.sh

!/docker-compose.yml
!/Dockerfile
