*
!/.gitignore
!/.dockerignore

# Need these for Whales project:
!/.whales
!/.whales.env
!/.whales.Dockerfile
!/.whales.docker-compose.yml

################################################################
# MAIN FOLDER
################################################################

!/.env
!/README.md
!/LICENSE

!/scripts
!/scripts/.lib.sh
!/scripts/build.sh
!/scripts/test.sh
!/scripts/clean.sh

################################################################
# PROJECT FILES
################################################################

!/src
!/src/*.pl
!/src/**/*.pl
!/src/core
!/src/data
!/src/graph

!/test
!/test/*.pl
!/test/**/*.pl

!/dist
!/dist/VERSION

################################################################
# AUXLIARY
################################################################

/logs

################################################################
# ARTEFACTS
################################################################

#

################################################################
# Git Keep
################################################################

!/**/.gitkeep
