*
!/.gitignore
!/.dockerignore

# Need these for Whales project:
!/.whales
!/.whales.env
!/.whales.Dockerfile
!/.whales.docker-compose.yml

################################################################
# MAIN FOLDER
################################################################
!/README.md
!/LICENSE

!/.env
!/.lib.sh
!/clean.sh
!/build.sh

################################################################
# PROJECT FILES
################################################################
!/src
!/src/*.pl
!/src/**/*.pl
!/src/core
!/src/data
!/src/graph

!/test
!/test/*.pl
!/test/**/*.pl

!/dist
!/dist/VERSION

################################################################
# AUXLIARY
################################################################
/logs

################################################################
# ARTEFACTS
################################################################
#

################################################################
# Git Keep
################################################################
!/**/.gitkeep
