*
!/.gitignore

################################################################
# WHALES-PROJECT EXAMPLES
################################################################
!/hello\-world
!/haskell
!/prolog
!/python
!/R
