*
!/.gitignore

################################################################################################################################
# WHALES-PROJECT EXAMPLES
################################################################################################################################
!/whales-prolog
