*

################################################################################################################################
# WHALES SETUP
################################################################################################################################
!/logging.env
!/docker.env
!/.env
!/DOCKER_DEPTH
!/VERSION

!/.lib.docker.sh
!/.lib.utils.sh
!/.lib.whales.sh
!/.lib.meta.sh
!/.lib.sh
!/docker.sh
