*
!/.dockerignore

# Need these for Whales project:
!/.env
!/whales_setup

################################################################################################################################
# MAIN FOLDER
################################################################################################################################
!/README.md
!/LICENSE

!/.lib.sh
!/clean.sh
!/test.sh

################################################################################################################################
# PROJECT FILES
################################################################################################################################
!/src
!/src/*.pl
!/src/**/*.pl
!/src/core
!/src/data
!/src/graph

!/test
!/test/*.pl
!/test/**/*.pl

!/dist
!/dist/VERSION

################################################################################################################################
# AUXLIARY
################################################################################################################################
/logs

################################################################################################################################
# ARTEFACTS
################################################################################################################################
#

################################################################################################################################
# Git Keep
################################################################################################################################
!/**/.gitkeep
