*

################################################################
# MAIN FOLDER
################################################################
!/.env
!/README.md
!/ISSUES.md
!/LICENSE

!/.lib.sh
!/build.sh
!/clean.sh
!/test.sh

################################################################
# WHALES
################################################################
!/.whales
!/.whales.env

################################################################
# PROJECT FILES
################################################################
# !/src
# !/test
# !/dist
# !/dist/VERSION

################################################################
# AUXLIARY
################################################################
/logs

################################################################
# ARTEFACTS
################################################################
#

################################################################
# Git Keep
################################################################
!/**/.gitkeep
