*

################################################################
# MAIN FOLDER
################################################################

!/.env
!/README.md
!/ISSUES.md
!/LICENSE

!/scripts
!/scripts/.lib.sh
!/scripts/build.sh
!/scripts/test.sh
!/scripts/clean.sh

################################################################
# WHALES
################################################################

!/.whales
!/.whales.env

################################################################
# PROJECT FILES
################################################################

!/src
!/src/**

!/test
!/test/**

################################################################
# EXCLUDED FOLDERS (e.g. for mount-only volumes)
################################################################

/dist
/data
/build
/logs

################################################################
# ARTEFACTS
################################################################

## e.g.
# /**/__pycache__
# /**/.DS_Store
# /**/__archive__*

################################################################
# Git Keep
################################################################

!/**/.gitkeep
