*

# Need these for Whales project:
!/.whales
!/.whales.env
!/.whales.docker-compose.yml
!/.whales.Dockerfile

################################################################
# MAIN FOLDER
################################################################

!/.env
!/README.md
!/LICENSE

!/scripts
!/scripts/.lib.sh
!/scripts/build.sh
!/scripts/test.sh
!/scripts/clean.sh

################################################################
# PROJECT FILES
################################################################

!/src
!/src/*.hs

!/test
!/test/*.hs

################################################################
# AUXLIARY
################################################################

!/logs

################################################################
# ARTEFACTS
################################################################

**/*.hi
**/*.o

################################################################
# Git Keep
################################################################

!/**/.gitkeep
