*
!/.gitignore
!/.dockerignore

# Need these for Whales project:
!/.whales
!/.whales.env
!/.whales.docker-compose.yml
!/.whales.Dockerfile

################################################################
# MAIN FOLDER
################################################################
!/.env
!/README.md

!/.lib.sh
!/build.sh
!/clean.sh

################################################################
# PROJECT FILES
################################################################
!/src
!/src/*.hs

!/test
!/test/*.hs

################################################################
# AUXLIARY
################################################################
!/logs

################################################################
# ARTEFACTS
################################################################
#

################################################################
# Git Keep
################################################################
!/**/.gitkeep
