*

################################################################
# WHALES SETUP
################################################################

# explicitly exclude state files:
/DOCKER_STATE
/WHALES_STATE

!/logging.env
!/.lib.docker.sh
!/.lib.utils.sh
!/.lib.whales.sh
!/.lib.meta.sh
!/.lib.sh
!/docker.sh
