*

################################################################
# WHALES SETUP
################################################################

# must be included in docker images!
!/DOCKER_DEPTH
# can/should be excluded:
/WHALES_STATE

!/logging.env
!/.lib.docker.sh
!/.lib.utils.sh
!/.lib.whales.sh
!/.lib.meta.sh
!/.lib.sh
!/docker.sh
