*
!/.gitignore
!/.dockerignore
# needed for artefact
!/VERSION

################################################################
# WHALES SETUP
################################################################

!/logging.env
# force exclude from synchronisation:
/DOCKER_DEPTH
!/.lib.globals.sh
!/.lib.utils.sh
!/.lib.docker.sh
!/.lib.meta.sh
!/.lib.sh
!/docker.sh
