*
!/.gitignore
!/.dockerignore
# needed for artefact
!/VERSION

################################################################
# WHALES SETUP
################################################################

# force exclude from synchronisation:
/DOCKER_DEPTH
# force exclude from synchronisation:
/WHALES_STATE

!/logging.env
!/.lib.globals.sh
!/.lib.utils.sh
!/.lib.docker.sh
!/.lib.meta.sh
!/.lib.sh
!/docker.sh
